.logo img{
    width: 300px;
    height: auto;
}




.casa{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;
    padding-top: 18%;
    color:rgb(177, 0, 0);
}



.casa header h1{
    font-size: 120px;
    margin-bottom: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.casa header h1 {
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.casa header h2{
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 90px;
    padding-left: 75%;
    margin-top: 0%;
}

.casa header h2 {
    opacity: 0;
    animation: bounceIn 0.8s 1s forwards;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
    
}




.paralelogramo {
  width: 100%;
  height:120px;
  background-color: rgb(177, 0, 0);
  margin-right: auto;
  margin-top:18%;
  margin-left:0%;
  padding-left: 0%;
  border-left: 0cm;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.pintora img{
    max-width: 100%;
    display: block;
    margin: 20px auto;
    padding-top:0%;
    margin-top:0%;
    margin-bottom: 0%;
}




.sobre{
    background-color: rgb(177, 0, 0);
    width: 100%;
    height: 800px;
    padding: 0%;
    margin-top: 0%;
    border-top: 0%;
    display: flex;
    gap: 400px;
    align-items: center;
    justify-content: space-between;
}

.left p{
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-size: 60px;
    padding-left: 40%;
    color:antiquewhite;
    font-weight: 800;
    padding-right: 10%;
    margin-left: 50px;
}


.right{
    width: 70%;
    padding-right: 15%;
}


.right h3{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:antiquewhite;
    font-size: 40px;
}


.right p{
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
}




.quem{
    background-color: rgb(177, 0, 0);
    margin-top: 100px;
    margin-left:200px;
    margin-right: 200px;
    height:800px;
}


.title h2{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: antiquewhite;
    padding-top: 5%;
    text-align: center;
}




.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    padding-right: 20%;
    padding-left: 7%;
    padding-top: 2%;
}




.text p{
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    padding-right: 5%;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
}

.text a{
    font-family: "Roboto", sans-serif;
    color:rgb(177, 0, 0);
    background-color:white;
    display: inline-block;
    font-weight: 700;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font-size:22px;
    margin-top: 60px;
}

.btn:hover {
    background-color:rgb(239, 222, 201);
}

.estudante img{
    width:350px;
    height:auto;
    margin-right: 40%;
    padding-left: 50%;
}


.testimonials{
    height:500px;
    margin-top:200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:100px;
    margin-left: 0px;
}

.testimonial {
    display: flex;
    align-items:center;
    gap: 60px;
    max-width: 1000px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.testimonial img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.testimonial p {
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 23px;
    color: rgb(177, 0, 0);
}

.testimonial strong {
    display: block;
    color:  rgb(177, 0, 0);
}

.documentos{
    background-color: rgb(177, 0, 0);
    height:1400px;
    margin-top: 450px;
}




.docs h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: antiquewhite;
    padding-top: 7%;
    text-align: center;
}

.conteudo h3{
    font-family: "Roboto", sans-serif;
    color:antiquewhite;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 1%;
    padding-left:24%;
    padding-right: 24%;
}

.icons{
    display:flex;
    gap:100px;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding-top:3%;
    width:100%;

}




.icon-item{
    display: flex;
    flex-direction: column;
    align-items:center;
}


.icon-item h3{
    font-family: "Roboto", sans-serif;
    font-size: 23px;  
    white-space: nowrap;
    letter-spacing: 1px;
    color: antiquewhite;
}


.icon-item img{
    width: 120px;  
    height: auto;
}


.prazos h3{
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}


.prz h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: antiquewhite;
    padding-top: 9%;
    text-align: center;
}



.topicos h3{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    line-height: 15px;
    font-family: "Roboto", sans-serif;
    color:antiquewhite;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-left:20%;
    padding-right: 20%;
}


.faq h2{
    color:rgb(177, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-bottom:2%;
}



.faq{
    width:60%;
    margin-top: 130px;
    margin-left:450px;
    margin-right:450px;
}


.faq-item{
    display: flex;
    justify-content:flex-start;
    padding: 1px;
    background-color: rgb(177, 0, 0);
    margin-bottom: 15px;
    position: relative;
    cursor: default;
}


.faq-item h3{
    color:antiquewhite;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    align-items:flex-start;
    padding-left:50px;
}


.faq-item::after {
  content: "⌄";
  position: absolute;
  right: 20px;
  font-size: 45px;
  color:antiquewhite;
}



.pré-inscrição{
    background-color:rgb(177, 0, 0);
    margin-top:150px;
    width:100%;
    height:1300px;
}



.pré-inscrição h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0%;
}

.pré-inscrição h3{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:22px;
    color:antiquewhite;
    display:flex;
    justify-content: center;
    margin-top: 1%;
    
}
.formulario{
    background-color: white;
    margin-top: 90px;
    margin-left:300px;
    margin-right: 300px;
    height:800px;
}

.tudo{
    padding-top:70px;
}

.campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom:50px;
}


label{
  color: rgb(177, 0, 0);
  font-weight: 400;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
}

input{
  background-color: #e5e5e5;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top:10px;
}


.linha{
  display: flex;
  padding-right: 60px;
  padding-left: 60px;

}

.linha .campo {
    flex: 1;
    padding-right: 60px;
    padding-left: 60px;
}

.botao {
  background-color: rgb(177, 0, 0);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 23px;
  font-family:"Roboto", sans-serif;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0px;
  position: absolute;
  right: 430px;
}

.botao:hover {
  background-color: #990000;
}


.informações {
    display: flex;
    justify-content: center;
    gap:120px;
    padding-top:4%;

}


.informações h2{
    font-weight: 400;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(177, 0, 0);
}

.scolumn{
    display:block;
}

.scolumn h3{
    font-weight: 350;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(177, 0, 0);
}


.footer {
  text-align: center;

}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left:1%;
}

.footer-icons img{
    width: 35px;  
    height: auto;
    padding-top:0%
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 12px;
  padding-top: 4%;
}

.footer-links a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(177, 0, 0);
  padding-top:1%;
  padding-bottom:4%;
}


.footer-links a:hover {
  text-decoration: underline;
}


